.container
  .navbar
    .navbar-inner
      .container
        a.brand(href="#/")
          img(src="build/client/img/logo.png")

        | {{collection App.Nav class="nav pull-right" contentBinding="content" selectedBinding="selected"}}

  | {{outlet}}
  
  #footer.row
    | &copy; 2013 Exxaro Ventures