section.home
  .row
    h1 We are a solutions company based in Nairobi.
    h3 We offer services in networking, web and software developement.

  #gallery.row
    #slider
      | {{collection App.ProjectSliderView contentBinding="projects"}}

  .row
    .span8.offset2
      blockquote
        | {{#with tweets.firstObject}}
        p 
          <a {{bindAttr href="uri"}}>{{text}}</a>
        |&mdash; {{from_user_name}} &nbsp;
        a.twitter-follow-button(href="https://twitter.com/kelonye", data-show-count="false", data-show-screen-name="false")
          |Follow @kelonye
        | {{/with}}

  :coffeescript
    #init twitter sdk
    ((d, s, id) ->
      js = undefined
      fjs = d.getElementsByTagName(s)[0]
      unless d.getElementById(id)
        js = d.createElement(s)
        js.id = id
        js.src = "//platform.twitter.com/widgets.js"
        fjs.parentNode.insertBefore js, fjs
    ) document, "script", "twitter-wjs"

