section.our-services
    h2  Web Design
    div
        p
            | At
            em Exxaro
            | , we are always in the habit of providing the most apt web development solutions to our clients. For a company to perform effectively in the modern and global environment of today, a website is an absolute necessity.
        p
            | It is important to have a well-conceived and planned website as an integral component of the organization so that it can meet its communication needs and strategic goals.
        p
            | A website offers a professional and dynamic interface for the organization or business online. At Exxaro, we provide you custom website software development services that make your website a comprehensive constituent of your integral web strategy.
        p Some of the features that make your website stand apart from the rest are:
        p
            ol
                li Creative Conception
                li Brilliant Graphics
                li Web 2.0 Fundamentals
                li Brand Sensitivity
                li Superior Technical And Interactive Architecture
                li Talk Directly To Your Client
        p
            | With Exxaro, you can obtain professional as well as affordable website design services and web development services. Whether you want to build your first corporate website or enhance your current website, we can help your business succeed online.
        p
            | We can offer a wide basket of web development services such as website design, graphic design, copy writing, and many other services. We have a solid command in the subject of custom website software development and we always endeavor for your accomplishment in business.
        p
            | Feel free to 
            a(href='#/reach-us') contact us 
            | for your custom website software development needs. We will be glad to respond immediately.


    h2 Networking
    div
        p
            | The cable infrastructure in your office or building is a critical component of your entire network. Proper planning, design, installation, and maintenance of this infrastructure can have a positive impact on your company’s day-to-day operations and can contribute to its success.
        p
            | Whether you’re building a new location or want to upgrade your existing infrastructure, CBS Network Services is the only provider you need for your cabling projects. We’re the East African leader in structured cabling solutions. All your sites will receive high-quality design, consistent workmanship, and proven equipment.
        p
            | As a foll-service provider, our start-to-finish approach includes the following:
        p
            ol
                li 1. Consoltation
                li 2. Site Survey
                li 3. Design/Engineering
                li 4. Materials Supply
                li 5. Installation
                li 6. Certification
                li 7. Maintenance
        p We offer:
        p
            ol
                li Comprehensive solutions for all network types—CAT5e, CAT6, CAT6a, CAT7
                li
                    | Outside plant capabilities for buried and aerial cable networks, CATV, and video systems, including placing poles and erecting transmitters and receivers
                li
                    | Installation certificate which means that your system is absolutely guaranteed to operate the application it was designed to support
                li
                    | Worry-free, molti-site project management across the country and the East African region
                li
                    | Cable system management, thorough documentation, and computer-aided design
                    | Detailed test reports for every data port and cable installed
                li Certified, experienced and qualified technicians


    h2 Software Development
    div
        p
            | Despite the fact that the modern IT industry is able to offer a wide range of programs and solutions, they can't take all needs into consideration. There's always a desire to create software which meets the requirement of your specific business tailored for your specific needs.
        p
            | That's why our company was established. Exxaro Ventures specializes in custom software development. Our specialists have experience in the area of designing software systems, programs and applications. These were developed not only to satisfy the clients' requirements, but also to anticipate their needs.
        p We have completed projects in:
        p
            ol
                li Wireless/Mobile
                li Finance investment solutions
                li Audio/video Applications
                li E-Commerce
                li Security
