section.reach-us
  .row
    .span4
      #address
        .inner
          h3 Cannon House Annex
          h4 Unit 12, Ground Floor, Nairobi
          h4 +254 710 635 330
          h4 053 801 0818 (fax)
          h4
            a(href="mailto:info@exxaroventures.com")
              |info@exxaroventures.com
    .span8
      img#map(src="http://maps.google.com/maps/api/staticmap?sensor=false&center=-1.298593,36.790883&zoom=12&size=600x300&markers=color:0xE63097%7Clabel:*%7C-1.298593,36.790883&style=hue:0xff0000&style=feature:road|visibility:off&style=feature:transit|visibility:off&style=feature:poi|visibility:off", alt="iHub")